name: Postman-Test
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Install server dependencies
        run: |
          cd mockApi
          npm install
    
      - name: Start API server
        run: |
          nohup npm tern-on-api &
      - name: Wait for server
        run: |
          sleep 5

      - name: Make directory for results
        run: mkdir -p testResults

      - name: run Postman collection
        run: |
          echo "Поточні файли:"
          ls -la
          echo "Вміст store.collection.json:"
          cat store.collection.json || echo "Немає такого файлу!"
          newman run store.collection.json -r htmlextra --reporter-htmlextra-export testResults/newmanReport.html --reporter-htmlextra-darkTheme

      - name: Output the run Details
        uses: actions/upload-artifact@v4
        with:
          name: RunReports
          path: testResults
